

header {
    background-color: #333;
    color:aliceblue;
    padding: 20px;
}

nav {
    background-color: rgb(0, 0, 0);
    color:aliceblue;
    padding: 10px;
    text-align: center;

}
.content {
    display: flex;
}
main {
    flex: 2;
}
main {
    background-color: #333;
    color: aliceblue;
    padding: 50px;
    text-align: left;
}
aside {
    flex: 1;
}
aside {
    background-color: rgb(131, 131, 131);
    color: aliceblue;
    padding: 50px;
    text-align: left;
}
footer{
    background-color: #000000;
    color: aliceblue;
    padding: 10px;
}


/* Header Content:header

Navigation Bar: nav (Home, Projects, Services, Contact Us)

Main Content: main

Aside Content: aside

Footer Content: footer */